site_name: JSK Knowledge Base
site_description: A structured technical knowledge base spanning cybersecurity, networking, and infrastructure engineering.
site_author: Srikanth Javvadi

theme:
  name: material
  font:
    text: Inter
    code: JetBrains Mono
  palette:
    - scheme: slate
      primary: Charcoal
      accent: Teal
  features:
    - navigation.instant
    - navigation.tabs
    - navigation.sections
    - navigation.top
    - search.highlight
    - search.share
    - content.code.copy
    - content.tabs.link
    - toc.integrate

markdown_extensions:
  - admonition
  - attr_list
  - def_list
  - tables
  - footnotes
  - toc:
      permalink: true
  - pymdownx.highlight
  - pymdownx.superfences
  - pymdownx.tabbed:
      alternate_style: true
  - pymdownx.details
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg

extra:
  social:
    - icon: fontawesome/brands/github
      link: https://github.com/YOUR_USERNAME

plugins:
  - search
  - mermaid2



